<div class="row">
  <div class="col-auto">
    <h2>Hello, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Tell us where you are at in your fitness journey</h3>

    <form class="form new-goal-form">
      <div class="form-group">
        <label for="goal-name">Tell us why you would like to lose weight:</label>
        <input class="form-input" type="text" id="goal-name" name="goal-name" />
      </div>
      <div class="form-group">
        <label for="goal-amount">Amount you want to lose in pounds:</label>
        <input class="form-input" type="number" id="goal-amount" name="goal-amount" />
      </div>
      <div class="form-group">
        <label for="project-desc">How much time can you commit to wroking out per week:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>*
    
  </div>

  {{#if goals.length}}
  <div class="col-md-6 project-list">
    <h3>Current weight loss goals:</h3>

    {{#each goals as |goals|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/goal/{{goal.id}}">{{goal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{goal.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
