<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Weight Loss Goal:</h3>
<body>
	<div>
		<p id="intro">Calculate your BMI (body mass index) by using the form below. Enter your weight and height and click the Calculate button to display your BMI result.</p>
		<form action="none" method="post" name="bmiform">
			<fieldset>
			<legend>Height and Weight</legend>
				<label for="pounds">Weight (pounds):</label>
				<input type="text" name="pounds" id="pounds">
				<br>
				<label for="inches">Height (inches):</label>
				<input type="text" name="inches" id="inches">
				<br>
				<button type="button" name="calculate" value="Calculate your BMI" onclick="calcBMI()">Calculate your BMI</button>
			</fieldset>
			<fieldset>
			<legend>BMI</legend>
				<label for="bmi" id="bmi_label">Your calculated BMI is:</label>
				<input type="text" name="bmi" id="bmi" readonly="readonly">
			</fieldset>
		</form>
	</div>
</body>
    
    
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Your Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">Weight to lose (pounds):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">Tell us your goal:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Weight loss Goals:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
