/* screen - feature-page */

.feature-page {
  align-items: flex-end;
  background-color: var(--outer-space);
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 23px 36.0px;
  width: 1920px;
}

.feature-page .flex-row {
  align-items: flex-start;
  display: flex;
  min-width: 1800px;
}

.feature-page .your-wellness-goals-start-now {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 200px;
  letter-spacing: 0;
  text-align: center;
  width: 1009px;
}

.feature-page .join-button {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  margin-left: 194px;
  margin-top: 1px;
  min-width: 266px;
}

.feature-page .overlap-group {
  height: 82px;
  margin-bottom: 0;
  position: relative;
  width: 264px;
}

.feature-page .rectangle-1 {
  background-color: var(--fun-blue);
  border-radius: 10px;
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 264px;
}

.feature-page .join-now {
  height: 82px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 264px;
}

.feature-page .join-button-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 65px;
  margin-top: 1px;
  min-width: 266px;
}

.feature-page .overlap-group1 {
  height: 82px;
  position: relative;
  width: 264px;
}

.feature-page .discover {
  height: 82px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 264px;
}

.feature-page .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 68.0px;
  margin-top: 105px;
  min-width: 528px;
}

.feature-page .acai-bowl-1 {
  height: 264px;
  object-fit: cover;
  width: 264px;
}

.feature-page .forward-step-1 {
  height: 264px;
  object-fit: cover;
  width: 264px;
}

.feature-page .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-right: 68.0px;
  margin-top: 3px;
  min-width: 528px;
}

.feature-page .guy-on-stairs-1 {
  height: 264px;
  object-fit: cover;
  width: 264px;
}

.feature-page .salad-1 {
  height: 264px;
  object-fit: cover;
  width: 264px;
}
