/* screen - sign-up-page */

.sign-up-page {
  align-items: flex-end;
  background-color: var(--outer-space);
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 26px 53px;
  width: 1920px;
}

.sign-up-page .flex-row {
  align-items: flex-end;
  display: flex;
  height: 98px;
  min-width: 1790px;
}

.sign-up-page .lets-get-moving {
  align-self: flex-start;
  color: #eeeeee;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 97px;
  letter-spacing: 0;
  width: 795px;
}

.sign-up-page .join-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 232px;
  min-width: 335px;
}

.sign-up-page .overlap-group {
  height: 97px;
  position: relative;
  width: 333px;
}

.sign-up-page .rectangle-1 {
  background-color: var(--fun-blue);
  border-radius: 10px;
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 332px;
}

.sign-up-page .join-now {
  height: 97px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 332px;
}

.sign-up-page .join-button-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 93px;
  min-width: 335px;
}

.sign-up-page .discover {
  height: 97px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 332px;
}

.sign-up-page .overlap-group-container {
  align-items: flex-end;
  display: flex;
  margin-right: 2px;
  margin-top: 20px;
  min-width: 1805px;
}

.sign-up-page .overlap-group4 {
  height: 790px;
  position: relative;
  width: 840px;
}

.sign-up-page .rectangle-5 {
  height: 788px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 840px;
}

.sign-up-page .password {
  height: 88px;
  left: 57px;
  letter-spacing: 0;
  position: absolute;
  top: 351px;
  width: 201px;
}

.sign-up-page .rectangle-6 {
  border-radius: 10px;
  height: 65px;
  left: 57px;
  position: absolute;
  top: 503px;
  width: 703px;
}

.sign-up-page .email {
  height: 88px;
  left: 57px;
  letter-spacing: 0;
  position: absolute;
  top: 113px;
  width: 148px;
}

.sign-up-page .rectangle-7 {
  border-radius: 10px;
  height: 65px;
  left: 57px;
  position: absolute;
  top: 233px;
  width: 703px;
}

.sign-up-page .log-in {
  height: 97px;
  left: 333px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 152px;
}

.sign-up-page .overlap-group3 {
  height: 61px;
  left: 74px;
  position: absolute;
  top: 677px;
  width: 691px;
}

.sign-up-page .rectangle-1-1 {
  background-color: var(--fun-blue);
  border-radius: 10px;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 689px;
}

.sign-up-page .log-in-1 {
  height: 61px;
  left: 2px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 689px;
}

.sign-up-page .overlap-group5 {
  align-items: flex-start;
  background-color: #202027;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  min-height: 788px;
  padding: 20px 60px;
  width: 840px;
}

.sign-up-page .place {
  align-self: center;
  height: 97px;
  letter-spacing: 0;
  margin-right: 16.0px;
  width: 152px;
}

.sign-up-page .name {
  height: 88px;
  letter-spacing: 0;
  margin-top: 16px;
  width: 148px;
}

.sign-up-page .rectangle-3 {
  border-radius: 10px;
  height: 65px;
  margin-top: 32px;
  width: 703px;
}

.sign-up-page .email-1 {
  height: 88px;
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 8px;
  width: 148px;
}

.sign-up-page .rectangle-3-1 {
  border-radius: 10px;
  height: 65px;
  margin-top: 10px;
  width: 703px;
}

.sign-up-page .password-1 {
  height: 88px;
  letter-spacing: 0;
  margin-left: 3px;
  width: 201px;
}

.sign-up-page .rectangle-4 {
  border-radius: 10px;
  height: 65px;
  margin-left: 2px;
  margin-top: 2px;
  width: 703px;
}

.sign-up-page .overlap-group-1 {
  align-self: center;
  height: 61px;
  margin-right: 1.0px;
  margin-top: 31px;
  position: relative;
  width: 691px;
}

.sign-up-page .join-now-1 {
  height: 61px;
  left: 2px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 689px;
}
